.distill-site-nav {
  background-color: #543a54;
}

.distill-site-footer a {
  background-color: #543a54;
  text-decoration: underline;
}

/*
This is the same color (#f5f5f5; white smoke) used in standard R Markdown code
chunks.
*/
code {
  background-color: RGB(245, 245, 245);
}
  